/* Título principal del login */
.login-title {
  font-size: 18px;        /* Tamaño de letra */
  font-weight: 800;       /* Negrita fuerte */
  color: var(--g900);     /* Color oscuro (variable global) */
}

/* Subtítulo debajo del título */
.login-subtitle {
  font-size: 12px;        /* Texto pequeño */
  color: var(--g500);     /* Color gris medio */
  margin-top: 4px;        /* Espacio arriba */
}

/* Clase utilitaria: margen inferior pequeño */
.mb-12 {
  margin-bottom: 12px;
}

/* Clase utilitaria: margen inferior más grande */
.mb-20 {
  margin-bottom: 20px;
}

/* Botón de login */
.login-btn {
  width: 100%;            /* Ocupa todo el ancho */
  padding: 11px;          /* Espaciado interno */
  font-size: 14px;        /* Tamaño del texto */
  justify-content: center;/* Centra el contenido horizontal */
  display: flex;          /* Activa flexbox */
  align-items: center;    /* Centra verticalmente */
  gap: 6px;               /* Espacio entre ícono y texto */
}

/* Spinner pequeño dentro del botón */
.spinner.small {
  width: 16px;            /* Ancho del loader */
  height: 16px;           /* Alto del loader */
  border-width: 2px;      /* Grosor del borde */
}

/* Caja informativa debajo del formulario */
.login-info {
  margin-top: 18px;       /* Espacio superior */
  padding: 12px;          /* Espaciado interno */
  background: var(--g50); /* Fondo claro */
  border-radius: 9px;     /* Bordes redondeados */
  font-size: 12px;        /* Texto pequeño */
  color: var(--g500);     /* Color gris */
}

/* Logo de inicio */
.login-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 12px;

  /* Estilo moderno */
  background: #fafdf8;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(247, 247, 247);
}

.login-icon:hover {
  transform: scale(1.05);
  transition: 0.2s ease;
}